[Desktop Entry]
Version=1.0
Type=Application
Name=gcal-notifier
Comment=Simple Google Calendar notifier
Exec=gcal-notifier-kotlin-gtk
Terminal=false
Icon=/opt/gcal-notifier-kotlin-gtk/icon.png
Categories=Office;Internet;
